# TODO - broken
runs/*
# Pre-trained YOLO models
*.pt
start_here/B_train/resume_training.py

# Has over 1GB of image data (GitHub limit 100MB per file)
datasets/images/*
datasets/labels/*
tmp/*

# Allow the folders themselves and .gitkeep (GitHub doesn't track empty folders)
!datasets/images/.gitkeep
!datasets/labels/.gitkeep
!tmp/.gitkeep