# Images to predict with trained models
input/*

# Training runs and logs
output/yolo/*
output/mrcnn/*
output/predictions/mrcnn/*
output/predictions/yolo/*


# Pre-trained YOLO models
*.pt
# Pre-trained Matterport Mask R-CNN models
*.h5

# Has over 1GB of image data (GitHub limit 100MB per file)
datasets/images/*
datasets/masks/*
datasets/labels/*
tmp/*

# Allow the folders themselves and .gitkeep (GitHub doesn't track empty folders)
!datasets/images/.gitkeep
!datasets/masks/.gitkeep
!datasets/labels/.gitkeep
!output/yolo/.gitkeep
!output/mrcnn/.gitkeep
!output/predictions/mrcnn/.gitkeep
!output/predictions/yolo/.gitkeep
!input/.gitkeep
!tmp/.gitkeep
# Image for README.md
!tmp/MRCNN.png

# Python Virtual Enviroment
envs/matterport_env/*
envs/yolo_env/*
!envs/matterport_env/.gitkeep
!envs/yolo_env/.gitkeep

# Any cached python info
**/__pycache__/
*.pyc
